{% extends "machine_view.html" %} 
{% load static %}
{% block menu %} 
    <div class="container navbar index_navbar border-bottom">
        <h2 class="pb-2">IT Management</h2>
        <img src="{% static 'images/rtdev.png' %}" class="rtdev img-thumbnail" alt="...">
    </div>
    <nav class="machine_view" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Accueil</a></li>
          <li class="breadcrumb-item" aria-current="page">Gestion Machine</li>
        </ol>
      </nav>
{% endblock %} 

{%block content %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Ajouter une machine
</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdro">
  Ajouter un personnel
</button>

<!-- Vertically centered modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %} 
          {{ form.nom.label_tag }}
          {{ form.nom }}
        
          <label for="{{ form.mach.id_for_label }}">Type de la machine:</label>
          <select name="{{ form.mach.name }}" id="{{ form.mach.id_for_label }}">
            {% for choice in form.mach.field.choices %}
              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
      
          <select name="{{ form.etat.name }}" id="{{ form.etat.id_for_label }}">
              {% for choice in form.etat.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endfor %}
            </select>
        
          <input type="submit" value="Create Machine">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %} 
          {{ form.nomm.label_tag }}
          {{ form.prenom.label_tag }}
        
          <label for="{{ form.poste.id_for_label }}">Titre du poste:</label>
          <select name="{{ form.poste.name }}" id="{{ form.poste.id_for_label }}">
            {% for choice in form.poste.field.choices %}
              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
      
          <select name="{{ form.etatt.name }}" id="{{ form.etatt.id_for_label }}">
              {% for choice in form.etatt.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endfor %}
            </select>
        
          <input type="submit" value="Create Machine">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  ...
</div>


{% endblock %} 