{% extends "liste_personnel.html" %}



{% block content %} 
    {% if machines %}
        <div class="container px-4 py-5" id="hanging-icons">
            <h2 class="pb-2 border-bottom">Liste des machines</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-5">
                {% for machine in machines %}
                    <div class="col d-flex align-items-start mach_block">
                        <div>
                        <h3 class="fs-2">{{ machine.nom}}</h3>
                        <p>{{machine.mach}}</p>
                        <a href="{% url 'machine_view' machine.id %}" class="btn btn-primary">
                            {{ machine.id}}
                        </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>Il n'y a pas de machines.</p>
    {% endif %}
{% endblock %} 