{% extends "index.html" %}
{% block sidebar %}
  <nav class="navbar nvbar fixed-top">
    <div class="container-fluid">
        {% load static %}
      <img src="{% static 'images/rtdev.png' %}" class="rtdev img-thumbnail" alt="...">
      <h1 class="navbar-brand fs-2 fw-semibold text-center ">IT MANAGEMENT</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav nav-underline flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'liste_machine' %}">Machines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'liste_personnel' %}">Personnels</a>
            </li>
          </ul>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="longueur"></div>
  {% endblock %}

  {% block content %} 
  {% if personnels %}
      <div class="container px-4 py-5" id="hanging-icons">
          <h2 class="pb-2 border-bottom">Liste du personnel</h2>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-5">
              {% for personnel in personnels %}
                  <div class="col d-flex align-items-start mach_block">
                      <div>
                      <h3 class="fs-2">{{ personnel.nom}} {{personnel.prenom}}</h3>
                      <p></p>
                      <a href="{% url 'personnel_view' personnel.id %}" class="btn btn-primary">
                          {{ personnel.id}}
                      </a>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
      {% else %}
      <p>Il n'y a pas de personnels.</p>
  {% endif %}
{% endblock %} 