{% extends "login.html" %}

{% block content %}

<h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
    <p class="text-white-50 mb-5">Entrez votre identifiant et mot de passe !</p>
  
    <div class="form-outline form-white mb-4">
        <input type="email" id="typeEmailX" class="form-control form-control-lg" />
        <label class="form-label" for="typeEmailX">Identifiant</label>
    </div>
  
    <div class="form-outline form-white mb-4">
        <input type="password" id="typePasswordX" class="form-control form-control-lg" />
        <label class="form-label" for="typePasswordX">Mot de passe</label>
    </div>
  
    <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
  
    </div>
  
    <div>
        <p class="mb-0">Déjà un compte ? <a href="{% url 'login' %}" class="text-white-50 fw-bold">Connectez-vous !</a>
        </p>
    </div>

{% endblock %}